{block content}

<div class="errorPage">
	<div class="errorPage__wrapper wrapper">
		<h1 n:block=title>Přístup odepřen</h1>

		<p class="errorPage__copy">
			Nemáte oprávnění pro vstup na tuto stránku.
		</p>

		<p class="errorPage__copy">
			<small>error 403</small>
		</p>
	</div>
</div>
