{block content}
<section class="error">
	<div class="error__wrapper wrapper">
		<h1 n:block=title>Stránka nenalezena</h1>

		<p>
			Omlouváme se, ale stránku, kterou jste zadali, jsme nenašli. <br>
			Překontrolujte správnost URL adresy, nebo pokračujte zpět na <a n:href="Homepage:">úvodní stránku</a>.
		</p>

		<p><small>chyba 404</small></p>
	</div>
</section>
