<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Freshbang</title>

	{* OG things *}
	<meta property="og:title" content="Freshbang" />
	<meta property="og:url" content="{plink //this}" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="{$baseUrl}/assets/images/ogimage-.png" />
	<meta property="og:image:width" content="600" />
	<meta property="og:image:height" content="315" />
	<meta property="og:site_name" content="Freshbang repository" />
	<meta property="og:description" content="The Universe started with The Big Bang. So every SFN project should start with The Fresh Bang." />
	<meta property="og:locale" content="cs_CZ" />

	{* CSS files *}
	<link rel="stylesheet" href="{$basePath}/assets/dist/css/1-vendor.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/dist/css/2-document.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/dist/css/3-core.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/dist/css/4-components.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/dist/css/5-ui.min.css">

	{* JS files *}
	<script src="{$baseUrl}/assets/dist/js/jquery-3.5.1.min.js"></script>
	<script src="{$baseUrl}/assets/dist/js/svg.min.js"></script>
	<script src="{$baseUrl}/assets/dist/js/main.min.js"></script>

</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
		<p>{$flash->message}</p>
	</div>

	{include 'includes/header.latte'}

	{include content}

	{block scripts}{/block}
</body>
</html>
