<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Freshbang</title>

	{* CSS files *}
	<link rel="stylesheet" href="{$basePath}/assets/dist/css/1-vendor.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/dist/css/2-document.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/dist/css/3-core.min.css">
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}{/block}
</body>
</html>
