<header class="header">
	<div class="header__wrapper wrapper">
		<div class="headerLogo">
			<a class="headerLogo__link" href="">
				<img class="headerLogo__image svg" src="{$basePath}/assets/images/brand/logo.svg" alt="">
			</a>
		</div>
		<div class="headerNavigation">
			{include 'navigation.latte'}
		</div>
	</div>
</header>