@import '../config';
@import '../core/breakpoints';

.button {
	display: inline-flex;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.25;
	border-radius: $button-radius;
	cursor: pointer;
	@include max940px {
		display: block;
	}
}
