.header {
	margin-bottom: 2rem;
	.header__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.headerLogo {
	.headerLogo__image {
		max-width: 5rem;
		width: 100%;
	}
}

.headerNavigation {}
