.row {
	display: flex;
}

@mixin make-col($number-of-cols, $offset: 0) {
	width: calc((100%/#{$number-of-cols}) - #{$offset});
	margin-right: $offset;
}

.row--3c {
	.col {
		@include make-col(3, 5rem);
	}
}
